@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.calc-height {
  min-height: calc(100svh - 30px); /* Replace 100px with your desired value */
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-lobster {
  font-family: "Lobster", cursive;
}
