@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* For Firefox */
scrollbar-width: thin; /* Change scrollbar width */
scrollbar-color: #A67B5B #f3e4e6; /* Thumb color and track color */
}
/* Custom Scrollbar Styles */

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f3e4e6; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #A67B5B; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #d27126; /* Darker color on hover */
}



.calc-height {
  min-height: calc(100svh - 100px); /* Replace 100px with your desired value */
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-lobster {
  font-family: "Lobster", cursive;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background: linear-gradient(270deg, #ff007f, #ff7e00, #ff007f);
  background-size: 400% 100%;
  animation: shimmer 2s infinite linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
