@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.calc-height {
  min-height: calc(100svh - 100px); /* Replace 100px with your desired value */
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-lobster {
  font-family: "Lobster", cursive;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background: linear-gradient(270deg, #ff007f, #ff7e00, #ff007f);
  background-size: 400% 100%;
  animation: shimmer 2s infinite linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
